<h1>Students</h1>


<form method="post">
    <fieldset>
        <legend id="formLabel">Add Student</legend>
        <p><label for="fname">First Name:
            <input type="text" name="fname" size="30" maxlength="100" id="fname" value={{fname}}>
        </label></p>

        <p><label for="fname">Last Name:
            <input type="text" name="lname" size="30" maxlength="100" id="lname" value={{lname}}>
        </label></p>


        <p>
            <label>Grade</label>
            <select name='grade' id='grade'>
                <option value=4 id="4">4</option>
                <option value=5 id="5">5</option>
                <option value=6 id="6">6</option>
                <option value=7 id="7">7</option>
                <option value=8 id="8">8</option>
                <option value=9 id="9">9</option>
                <option value=10 id="10">10</option>
                <option value=11 id="11">11</option>
                <option value=12 id="12">12</option>
            </select>
        </p>

        <script>
            document.getElementById("{{grade}}").selected  = "selected";
            document.getElementById("fname").value = {{fname}};
            document.getElementById("lname").value = {{lname}};
            document.getElementById("formLabel").textContent = "Edit Student";
        </script>


        <input type="hidden" value={{id}} id="id">

        <p>
            <input type="submit" id="submitted">
        </p>

<script src="/clientStudents.js"> </script>